<body>
    <div class="header">
        <center>
            <div class="header_text col-sm-4">
                CARGET
            </div>
        </center>
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../../index.html">HOME</a>
                </li>
                <li>
                    <a href="../User/Customer Profile.html">MY PROFILE</a>
                </li>
                <li>
                    <a href="#">BROWSE</a>
                </li>
                <li>
                    <a href="#">MY RENTALS</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">CONTACT US</a>
                </li>
            </ul>

            <p class="navbar-text">
                LOGGED IN AS 
            </p>
        </div>
    </nav>

    <div class="body">
        <div class="profile">
            <div class="container-fluid title">
                <center>
                    MY PROFILE
                </center>
            </div>

            <div class="container body_profile">
                <div class="row">
                    <div class="col-sm-5">
                        <center>
                            <img src="../../images/user.png" id="profile_img">
                        </center>
                    </div>

                    <div class="profile_details col-sm-5">
                        <ul style="list-style-type:none">
                            <li id="info_name"></li>

                            <hr>

                            <li id="info_title">BASIC INFORMATION</li>
                            <br>
                            <li class="info">EMAIL ADDRESS:
                                <input type="text" value="test@gmail.com" class="read" readonly="">
                            </li>
                            <li class="info">CONTACT NUMBER:
                                <input type="text" value="+666" class="read" readonly="">
                            </li>
                            <li class="info">AGE:
                                <input type="text" value="99" class="read" readonly="">
                            </li>

                            <hr>

                            <li class="info">NUMBER OF RENTALS:
                                <input type="text" value="69" class="read" readonly="">
                            </li>
                            <li class="info">CURRENT CAR RENTALS:
                                <input type="text" value="Range Rover" class="read" readonly="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="rental">
            <div class="container-fluid title">
                <center>
                    MY RENTAL
                </center>
            </div>

            <div class="body_rental">
                <div class="row" id="fix">
                    <div class="img_rental col-lg-6">
                        <img src="" id="rental_img">

                        <div class="middle">
                            <div class="text">
                                RANGE ROVER
                            </div>
                        </div>
                    </div>

                    <div class="rental_details col-sm-6">
                        <ul style="list-style-type:none">
                            <li class="info">RENTED FROM:
                                <input type="text" value="YO MAMA" class="read" readonly="">
                            </li>
                            <br>
                            <br>
                            <hr>
                            <li class="info">PICK-UP LOCATION:
                                <input type="text" value="Baguio City" class="read" readonly="">
                            </li>
                            <li class="info">PICK-UP DATE
                                <input type="text" value="04/20/2018" class="read" readonly="">
                            </li>
                            <hr>
                            <li class="info">RETURN LOCATION:
                                <input type="text" value="Baguio City" class="read" readonly="">
                            </li>
                            <li class="info">RETURN DATE:
                                <input type="text" value="04/22/2018" class="read" readonly="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>